rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * MULTIVERSE EXPLORER SECURITY RULES
     * 
     * Nota: A permissão de delete foi temporariamente expandida para permitir a limpeza do protótipo.
     */

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
      return resource != null && isOwner(userId);
    }

    match /explorer_profiles/{explorerProfileId} {
      
      allow get, list: if isSignedIn();

      allow create: if isOwner(explorerProfileId) && request.resource.data.id == explorerProfileId;

      allow update: if isExistingOwner(explorerProfileId) && request.resource.data.id == resource.data.id;

      // Permitimos que qualquer explorador autenticado delete para fins de reset do protótipo
      allow delete: if isSignedIn();
    }
  }
}